<div class="item m-3 mt-1 p-2 row align-items-center rounded shadow-sm">
    <div class="col-12 col-md-8 row mx-auto mb-1">
        <div class="col-12 col-sm-6 mb-2 mb-sm-0 mx-auto">
            <h5 class="fw-bold mb-1" id="taskNameItem">Matek házi</h5>
        </div>
        <div class="col-12 col-sm-6 mb-2 mb-sm-0 mx-auto">
            <p class="mb-0">Határidő: <strong id="taskDateItem">2025-06-07</strong></p>
        </div>

    </div>
    <div class="col-12 col-md-4 d-flex gap-2 justify-content-end flex-column flex-sm-row">
        <button class="btn btn-blue flex-grow-1" id="taskDelete">Végleges törlés 🗑️</button>
    </div>
</div>