<div class="item m-3 mt-1 p-2 row align-items-center rounded shadow-sm">
    <div class="col-12 col-md-8 row mx-auto mb-1">
        <div class="col-12 col-sm-6 mb-2 mb-sm-0 mx-auto">
            <h5 class="fw-bold mb-1" id="taskNameItem">Matek házi</h5>
            <p class="mb-0">Határidő: <strong id="taskDateItem">2025-06-07</strong></p>
        </div>
        <div class="col-12 col-sm-6 row my-auto mx-auto">
            <h5 class="mb-1 d-block">Előrehaladás:</h5>
            <div class="d-flex gap-2 mx-auto">
                <div class="w-100" id="#progressDiv">
                    <input type="radio" name="progressX" class="r1">
                    <input type="radio" name="progressX" class="r2">
                    <input type="radio" name="progressX" class="r3">
                    <input type="radio" name="progressX" class="r4">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 d-flex gap-2 justify-content-end flex-column flex-sm-row">
        <button class="btn btn-blue flex-grow-1" id="taskEdit">Szerkesztés ✏️</button>
        <button class="btn btn-blue flex-grow-1" id="taskDone">Kész ✅</button>
    </div>
</div>