<div class="col-12 col-md-4">
    <div class="weatherCard pt-3 h-100">
        <h3 id="day" class="day mb-4"></h3>
        <h3 class="description"></h3>
        <h3 id="temperature"></h3>
        <img src="" alt="icon" id="weatherIMG">
        <h3 class="mt-4 wind"></h3>
        <div class="w-100 text-center">
            <canvas id="windMeter" width="150" height="100"></canvas>
        </div>
        <h3 id="windText" class="mb-4"></h3>
        <div>
            <img src="" alt="icon" id="nightWeatherIMG">
        </div>
        <h3 id="nightTemperature"></h3>
        <h3 class="nightDescription"></h3>

        <h4 id="date" class="p-2"></h4>
    </div>
</div>